<section class="section portfolio__background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a computer science graduate from the 
      <a class="underline-link" href="https://um.edu.my/" target="_blank">University of Malaya,</a>
      specializing in Artificial Intelligence.
      I am very thankful to undergo a six-month internship at 
      <a class="underline-link" href="https://moneylion.com" target="_blank">Moneylion FinTech</a>
      as a Data Scientist. This internship and training had been an eye-opener to me to learn about the FinTech industry.
    </p>

    <p>
      As a software engineer, I aim to create delightful products to users;
      And as a data scientist, I have great passion in finding meaningful patterns and surfacing relationships in the data.
    </p>

    <p>
      When I am not in front of a computer screen, I am probably listeninig to music, learning to sing,
      or doing exercise to keep myself fit.
    </p>

    {% include employment-status.html %}
  </div>
</section>
