<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project umr">
      <figure class="project__pic">
        <picture>
          <source srcset="{{site.baseUrl}}img/featured/umr.webp" type="image/webp">
          <source srcset="{{site.baseUrl}}img/featured/umr.png" type="image/png">
          <img class="card" src="{{site.baseurl}}img/featured/umr.png" alt="Showcase work for a desktop & mobile app">
        </picture>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a class="arrow-link" href="https://topdrawer.umresearch.um.edu.my/" target="_blank">UMR University of Malaya</a>
        </div>
        <p>Built with Flutter Web framework, this responsive web app manages the top drawer proposals
          that are submitted to the Institute of Research Management University of Malaya (UMR).</p>
      </figcaption>
    </div>


    <div class="project sticky_notes">
      <figure class="project__pic">
        <picture>
          <source srcset="{{site.baseurl}}img/featured/sticky_notes.webp" type="image/webp">
          <source srcset="{{site.baseurl}}img/featured/sticky_notes.png" type="image/png">
          <img class="card" src="{{site.baseurl}}img/featured/sticky_notes.png" alt="Showcase work for a sticky notes app">
        </picture>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a class="arrow-link" href="https://github.com/notAunty/sticky_notes" target="_blank">Sticky Notes</a>
          <!-- <a href="https://blistabloc.com/" target="_blank">blistabloc</a> -->
        </div>
        <p>Created to bring awareness to the Flutter framework, I have organized a workshop in giving mentors to 
          participants.</p>
      </figcaption>
    </div>

    <div class="project nyes">
      <figure class="project__pic">
        <picture>
          <source srcset="{{site.baseurl}}img/featured/nyes.webp" type="image/webp">
          <source srcset="{{site.baseurl}}img/featured/nyes.png" type="image/png">
          <img class="card" src="{{site.baseurl}}img/featured/nyes.png" alt="Showcase work for a mobile app">
        </picture>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          NYES UM 2020
        </div>
        <p>Created for the National Young Economic Summit, NYES Game Challenge 2020. This game challenge
          requires players to manage the macro-economy of their nations and trade with other nations,
          making it a truly competitive game challenge.</p>
      </figcaption>
    </div>

    <div class="project um_intern">
      <figure class="project__pic">
        <picture>
          <source srcset="{{site.baseurl}}img/featured/um_intern.webp" type="image/webp">
          <source srcset="{{site.baseurl}}img/featured/um_intern.png" type="image/png">
          <img class="card" src="{{site.baseurl}}img/featured/um_intern.png" alt="Showcase work for a design work">
        </picture>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          AppClub Internship UI Mockup
        </div>
        <p>An unofficial UI/UX redesign of the AppClub's Internship application with intuitive layout that serves
          information that are relavant to users on the home screen.</p>
      </figcaption>
    </div>

  </div>
</section>
