<section id="home" class="portfolio__intro">
  <div class="portfolio__intro__hello">Hi, my name is
    <span class="wave-hand animated"></span>
  </div>

  <h1 class="portfolio__intro__name">Khan Soh</h1>

  <div class="portfolio__intro__tagline">
    I am a design-minded
    <div class="spinner">
      <span>Full-stack Developer</span>
      <span>Data Scientist</span>
      <span>Web Developer</span>
      <span>Hybrid Apps Developer</span>
      <span>Front-end Developer</span>
    </div><div></div>
    who is focused on developing user-friendly apps, websites &amp; products.
  </div>

  <div class="portfolio__intro__details">
    <a href="mailto:{{site.email}}" target="_blank" class="portfolio__intro__details__getintouch">Get in touch</a>
  </div>

  <div class="portfolio__intro__arrows">
    <div class="arrow arrow-first"></div>
    <div class="arrow arrow-second"></div>
  </div>
</section>
