<nav>
  <a class="skip-to-content-link" href="#home">
    Skip to content
  </a>

  <div class="nav__logo">
    {% include logo.html %}
  </div>

  <div class="nav__menu">
    <ul>
      <li><a class="current" id="navigation-home" href="#home">Home</a></li>
      <li><a id="navigation-about" href="#about">About me</a></li>
      <li><a id="navigation-experiences" href="#experiences">Experiences</a></li>
      <li><a id="navigation-projects" href="#projects">Projects</a></li>
    </ul>
  </div>
</nav>
