<footer class="portfolio-footer">
  <div class="portfolio-footer__copyright">
    <div class="top">
      <span>Made with ❤️️ by</span>
      <span>{{site.name}}</span>
    </div>
    <div class="bottom">
      <!--<img class="emoji" src="{{site.baseurl}}img/emojis/rockon.png" alt="emoji">-->
      <!--<span>2021</span>-->
    </div>
    <div class="adopted">
      <span>Adopted from</span>
      <a class="underline-link" href="https://github.com/bchiang7">Brittany Chiang</a>
    </div>
  </div>

  <div class="portfolio-footer__links">
    {% for link in site.social %}
      <a href="{{link.url}}" target="_blank" title="{{link.title}}">
        <span class="text">{{link.title}}</span>
        {% include feather.html icon=link.feather_icons %}
        <!-- <img src="{{site.baseurl}}img/social/{{link.title}}.svg" alt="{{link.title}}"> -->
      </a>
    {% endfor %}
  </div>
</footer>
