<div id="portfolio-splash">
  <div class="close">
    <div>
      <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        width="100%" id="blobSvg">
        <defs>
          <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="0%" style="stop-color: rgb(250, 196, 114);"></stop>
            <stop offset="100%" style="stop-color: rgb(250, 128, 114);"></stop>
          </linearGradient>
        </defs>
        <path id="blob"
          d="M396.5,328Q340,406,242.5,419Q145,432,99.5,341Q54,250,94.5,150Q135,50,245.5,58Q356,66,404.5,158Q453,250,396.5,328Z"
          fill="none" stroke-width="7px" stroke="url(#gradient)"></path>
      </svg>
      <div class="pie">
        <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          width="100%" id="blobSvg">
          <defs>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0%" style="stop-color: rgb(250, 196, 114);"></stop>
              <stop offset="100%" style="stop-color: rgb(250, 128, 114);"></stop>
            </linearGradient>
          </defs>
          <path id="blob"
            d="M396.5,328Q340,406,242.5,419Q145,432,99.5,341Q54,250,94.5,150Q135,50,245.5,58Q356,66,404.5,158Q453,250,396.5,328Z"
            fill="none" stroke-width="7px" stroke="url(#gradient)"></path>
        </svg>
      </div>
    </div>
  </div>
</div>
