/* ===== Urbanist ===== */
/* - Light 300
** - Light Italic 300
** - Regular 400
** - Regular Italic 400
** - Medium 500
** - Medium Italic 500
** - Bold  700
** - Bold Italic  700
*/

@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../fonts/UbuntuMono-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}


$h1: 5.5;
$h2: 4.9;
$h3: 3.5;
$h4: 3.0;
$h5: 2.5;
$h6: 2.25;
$body: 2.05;
$caption: 1.7;

$font-stack: system-ui, Verdana, Helvetica, Roboto, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$sans: 'Urbanist', $font-stack;
$monospace: 'Ubuntu Mono', monospace;

@mixin font-size($val) {
  // font-size: #{$val}rem;
  // @media screen and (max-width: #{$desktop-width}) {
  //   font-size: calc(calc(#{$val}rem * 0.5) + 1.75vw);
  // }

  font-size: #{$val}vmax;

  @media screen and (max-width: #{$tablet-width}) {
    font-size: calc(#{(($val - 1.7) * 2.1 / 2.6) + 2.2}vmax);
  }

  @media screen and (min-width: #{$small-desktop-width}) {
    font-size: calc(#{$val * 0.5}rem);
  }
}

