.portfolio__intro {
  height: calc(100vh - #{$nav-bar-height});
  display: flex;
  flex-direction: column;

  &__hello {
    margin-top: 13vh;
    margin-bottom: 10vh;
    @include font-size($body);
  }

  &__name {
    @include font-size($h1);
    margin-bottom: 2px;
  }

  &__tagline {
    max-width: 550px;
    font-weight: 400;
    @include font-size($h4);
    margin-bottom: 10vh;

    .spinner {
      line-height: 44px;
      $spinner-line-height: 44px;
      height: #{$spinner-line-height - 4px};
      overflow-y: hidden;
      font-weight: 700;
      color: $primary-color;

      > span {
        display: block;
        white-space: nowrap;
        animation: spin-words 12s infinite 0.7s;

        @keyframes spin-words {
          0% {
            transform: translateY(calc(#{$spinner-line-height} * 0));
          }
          5% {
            transform: translateY(calc(#{$spinner-line-height} * 0));
          }
          26% {
            transform: translateY(calc(#{$spinner-line-height} * -1));
          }
          47% {
            transform: translateY(calc(#{$spinner-line-height} * -2));
          }
          68% {
            transform: translateY(calc(#{$spinner-line-height} * -3));
          }
          90% {
            transform: translateY(calc(#{$spinner-line-height} * -4));
          }
          100% {
            transform: translateY(calc(#{$spinner-line-height} * 0));
          }
        }
      }
    }
  }

  &__details {
    display: flex;

    &__getintouch {
      @include transition;
      @include font-size($h6);
      font-weight: 600;
      text-decoration: none;
      display: inline-block;
      color: $primary;
      text-decoration: none;

      padding: 8px 16px;
      border-radius: 8px;
      border: 3px solid $primary;
      // box-shadow: inset 0 -3px 0 $primary;
      &:hover {
        color: $white;
        border-radius: 0;
        box-shadow: inset 0 -48px 0 0 $primary;
      }
    }
  }

  &__arrows {
    display: none;

    $ani-speed: 2s;
    $ani-delay: 0.75s;
    .arrow {
      opacity: 0;
      position: absolute;
      right: 8%;
      top: 95%;
      transform-origin: 50% 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    .arrow-first {
      animation: arrow-movement $ani-speed ease-in-out infinite;
    }
    .arrow-second {
      animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
    }

    .arrow:before,
    .arrow:after {
      background: $slate;
      content: "";
      display: block;
      height: 3px;
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
    }

    .arrow:before {
      transform: rotate(45deg) translateX(-20%);
      transform-origin: top left;
    }

    .arrow:after {
      transform: rotate(-45deg) translateX(20%);
      transform-origin: top right;
    }

    // Animation
    @keyframes arrow-movement {
      0% {
        opacity: 0;
        top: 90%;
      }
      70% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
