nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: $nav-bar-height;

  z-index: 10;
  isolation: isolate;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    height: 100%;
    max-width: 1400px;
    padding: 0 80px;
    @include tablet {
      padding: 0 48px;
    }
  }

  background-color: rgba($white, 0.72);
  backdrop-filter: saturate(180%) blur(16px);
  -webkit-backdrop-filter: saturate(180%) blur(16px);

  // Logo
  .nav__logo {
    height: calc(100% - 16px);
    display: flex;
  }

  // Menu
  .nav__menu {
    > ul {
      display: flex;
      list-style: none;

      > li {
        font-weight: 500;
        margin-right: 24px;

        > a {
          font-weight: 500;
          color: $text-color;
          transition: color 0.2s ease-in-out;
        }

        > a.current {
          font-weight: 600;
          color: $text-color2;
        }

        > a:hover {
          color: $primary;
        }
      }
    }
  }

  // Skip to content
  .skip-to-content-link {
    background: $primary-color;
    top: 0px;
    left: 0px;
    z-index: 11;
    padding: 4px 16px;
    position: absolute;
    transform: translateY(-150%);
    transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .skip-to-content-link:focus {
    border: none;
    transform: translateY(0%);
  }
}
