nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: $nav-bar-height;

  isolation: isolate;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 80px;
  @include tablet {
    padding: 0 48px;
  }

  display: flex;
  align-items: center;

  background-color: rgba($white, 0.72);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);

  .skip-to-content-link {
    background: $primary-color;
    left: 168px;
    padding: 4px 16px;
    position: absolute;
    transform: translateY(-150%);
    transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .skip-to-content-link:focus {
    border: none;
    transform: translateY(0%);
  }
}
